<!-- header -->
<header class="l-header">
    <div class="l-container l-header-inner">
        <a class="l-header-inner__logo" href="#"><img class="u-svg" data-svg="logo" alt="logo" src="assets/svg/logo.svg"><span>svgロゴ</span></a>
    </div>
</header>
<!-- /header -->
