<meta charset="utf-8">
<title><%= main.title %></title>
<meta name="description" content="<%= main.description %>">
<meta name="keywords" content="<%= main.keywords %>">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1" />
<meta name="author" content="gurunavi">
<link rel="shortcut icon" href="">
<meta name="robots" content="index,follow">
<meta name="format-detection" content="telephone=no">

<!--ogp-->
<meta property="og:title" content="title">
<meta property="og:type" content="website">
<meta property="og:description" content="description">
<meta property="og:url" content="siteUrl">
<meta property="og:image" content="">
<meta property="og:site_name" content="site_name">
<meta property="og:locale" content="ja_JP">
<meta property="fb:app_id" content="112801478810215">

<!--twitter card-->
<meta property="twitter:card" content="summary_large_image">
<link rel="canonical" href="siteUrl">

<script src="//site.gnavi.co.jp/analysis/gtm_nt.js" async></script>
<script data-device="sma" src="https://x.gnst.jp/meta-sc_page-js/js/ga_meta_sc_page-1.0.0.js" id="js-GA_SC_PAGE_META" async></script>
