@charset "utf-8";

.c-main {
    min-height: 100%;

  &-container {
    background-color: $SITE_WHITE_COLOR;
    text-align: center;
    width: $CONTENT_WIDTH;
    padding: 120px 0;
    margin: 0 auto;

    @mixin mq {
      width: 100%;
    }
  }
}
